@model modeloMeseros.Models.Detalle_Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalle_Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.encabezado_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.encabezado_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_detalle_pedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
