@model modeloMeseros.Models.DetallePedidoViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutVertical.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Detalles del pedido</title>
    <link rel="stylesheet" href="~/css_E/StyleSheet.css">
</head>
<body>
    <div class="section-detalles-pedido">
        <h1 class="titulo-cliente">Detalle de del pedido</h1>

        <div class="section-detalle-cliente d-flex">
            <div class="section-input">
                <h5>Nombre del cliente:</h5>
                <div class="input-group input-group-sm mb-5">
                    <input class="form-text-pedido" type="text" value="@Model.NombreCliente" readonly>
                </div>
            </div>
            <div class="section-input">
                <h5>N° de Mesa:</h5>
                <div class="input-group input-group-sm mb-5">
                    <input class="form-text-pedido" type="text" value="@Model.IdMesa" readonly>
                </div>
            </div>
            <div class="section-input">
                <h5>ID Mesero:</h5>
                <div class="input-group input-group-sm mb-5">
                    <input class="form-text-pedido" type="text" value="@Model.IdMesero" readonly>
                </div>
            </div>
        </div>

        <h1 class="titulo-orden">Detalle de la orden</h1>

        <div class="section-division"></div>
        @foreach (var detalle in Model.Detalles)
        {
            <table>
                <tr>
                    <td class="col-md-3">
                        <img class="img-plato" src="https://i.ibb.co/Q7Mzswb0/pixzolo-photography-O3wkh2j-Zyo-unsplash.jpg"
                             alt="pixzolo-photography-O3wkh2j-Zyo-unsplash">
                    </td>
                    <td class="col-md-10 px-5">
                        <h3>@detalle.NombrePlatillo</h3>
                        <p>@detalle.DescripcionPlatillo</p>
                    </td>
                    <td>
                        <p class="comentario">Comentarios</p>
                    </td>
                    <td>
                        <button class="image-button" onclick="alert('Button clicked!')">
                            <img src="https://i.ibb.co/0pkkF1GN/puntos.png" alt="puntos" border="0">
                        </button>
                    </td>
                </tr>
            </table>
        }
        <hr>
        <button class="boton-guardar">Ordenar</button>
    </div>
</body>
</html>
