@model IEnumerable<modeloMeseros.Models.Pedido_Local>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_mesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaApertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_mesero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_mesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_mesero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_pedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_pedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
